.info 
{
	font-size: small;
}

.notelist 
{
	padding-top: 10px; /* for IE only */
  	width: 600px;
  	border: 1px #000 dotted;
}

.notelist #list li
{
	list-style:none;
	background-color: #eeeeee;
	border: 1px dotted;
	width: 573px;
	margin-bottom: 1px;
	vertical-align: middle;
}
